@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a class="nav-link" asp-area="" asp-controller="Usuario" asp-action="Index">Lista Usuarios</a>
    </li>  
}
else{
    <li>
        <a class="nav-link" asp-area="" asp-controller="Usuario" asp-action="Create">Usuario</a>
    </li> 
    <li>
        <a class="nav-link" asp-area="" asp-controller="Usuario" asp-action="Create">Usuario</a>
    </li>  
}