@{
    ViewData["Title"] = "Hecho por Daniel Chacón";
}

 <section id="catalogue" class="catalogue section-bg">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-in">Nuevos Libros</h2>
          <p data-aos="fade-in">Los libros mas nuevos de nuestra biblioteca</p>
        </div>


        <div class="row catalogue-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 catalogue-item filter-app">
            <div class="catalogue-wrap">
              <img src="~/img/books/brevehistoria.jpg" class="img-fluid" alt="" style="width: 400px; height: 500px">
              <div class="catalogue-links">
                <a href="#" data-gall="catalogueGallery" class="venobox"><i class="icofont-plus-circle"></i></a>
                <a href="#" title="More Details"><i class="icofont-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 catalogue-item filter-web">
            <div class="catalogue-wrap">
              <img src="~/img/books/cienañosdesoledad.jpg" class="img-fluid" alt="" style="width: 400px; height: 500px">
              <div class="catalogue-links">
                <a href="#" data-gall="catalogueGallery" class="venobox" title="Web 3"><i class="icofont-plus-circle"></i></a>
                <a href="#"  title="More Details"><i class="icofont-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 catalogue-item filter-app">
            <div class="catalogue-wrap">
              <img src="~/img/books/elresplandor.jpg" class="img-fluid" alt="" style="width: 400px; height: 500px">
              <div class="catalogue-links">
                <a href="#" data-gall="catalogueGallery" class="venobox" title="App 2"><i class="icofont-plus-circle"></i></a>
                <a href="#"  title="More Details"><i class="icofont-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 catalogue-item filter-card">
            <div class="catalogue-wrap">
              <img src="~/img/books/ladronadelibros.jpg" class="img-fluid" alt="" style="width: 400px; height: 500px">
              <div class="catalogue-links">
                <a href="#" data-gall="catalogueGallery" class="venobox" title="Card 2"><i class="icofont-plus-circle"></i></a>
                <a href="#"  title="More Details"><i class="icofont-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 catalogue-item filter-web">
            <div class="catalogue-wrap">
              <img src="~/img/books/Stephenkingit.jpg" class="img-fluid" alt="" style="width: 400px; height: 500px">
              <div class="catalogue-links">
                <a href="#" data-gall="catalogueGallery" class="venobox" title="Web 2"><i class="icofont-plus-circle"></i></a>
                <a href="#"  title="More Details"><i class="icofont-link"></i></a>
              </div>
            </div>
          </div>


        </div>

      </div>
    </section>

      <section id="catalogue" class="catalogue section-bg">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-in">Libros mas vendidos</h2>
          <p data-aos="fade-in">Los libros mas vendidos en nuestra tienda </p>
        </div>


        <div class="row catalogue-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 catalogue-item filter-app">
            <div class="catalogue-wrap">
              <img src="~/img/books/brevehistoria.jpg" class="img-fluid" alt="" style="width: 400px; height: 500px">
              <div class="catalogue-links">
                <a href="#" data-gall="catalogueGallery" class="venobox"><i class="icofont-plus-circle"></i></a>
                <a href="#" title="More Details"><i class="icofont-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 catalogue-item filter-web">
            <div class="catalogue-wrap">
              <img src="~/img/books/cienañosdesoledad.jpg" class="img-fluid" alt="" style="width: 400px; height: 500px">
              <div class="catalogue-links">
                <a href="#" data-gall="catalogueGallery" class="venobox" title="Web 3"><i class="icofont-plus-circle"></i></a>
                <a href="#"  title="More Details"><i class="icofont-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 catalogue-item filter-app">
            <div class="catalogue-wrap">
              <img src="~/img/books/elresplandor.jpg" class="img-fluid" alt="" style="width: 400px; height: 500px">
              <div class="catalogue-links">
                <a href="#" data-gall="catalogueGallery" class="venobox" title="App 2"><i class="icofont-plus-circle"></i></a>
                <a href="#"  title="More Details"><i class="icofont-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 catalogue-item filter-card">
            <div class="catalogue-wrap">
              <img src="~/img/books/ladronadelibros.jpg" class="img-fluid" alt="" style="width: 400px; height: 500px">
              <div class="catalogue-links">
                <a href="#" data-gall="catalogueGallery" class="venobox" title="Card 2"><i class="icofont-plus-circle"></i></a>
                <a href="#"  title="More Details"><i class="icofont-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 catalogue-item filter-web">
            <div class="catalogue-wrap">
              <img src="~/img/books/Stephenkingit.jpg" class="img-fluid" alt="" style="width: 400px; height: 500px">
              <div class="catalogue-links">
                <a href="#" data-gall="catalogueGallery" class="venobox" title="Web 2"><i class="icofont-plus-circle"></i></a>
                <a href="#"  title="More Details"><i class="icofont-link"></i></a>
              </div>
            </div>
          </div>


        </div>

      </div>
    </section>

      <section id="catalogue" class="catalogue section-bg">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-in">Libros recomendados</h2>
          <p data-aos="fade-in">Los libros mas recomendados por nuestra tienda</p>
        </div>


        <div class="row catalogue-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 catalogue-item filter-app">
            <div class="catalogue-wrap">
              <img src="~/img/books/brevehistoria.jpg" class="img-fluid" alt="" style="width: 400px; height: 500px">
              <div class="catalogue-links">
                <a href="#" data-gall="catalogueGallery" class="venobox"><i class="icofont-plus-circle"></i></a>
                <a href="#" title="More Details"><i class="icofont-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 catalogue-item filter-web">
            <div class="catalogue-wrap">
              <img src="~/img/books/cienañosdesoledad.jpg" class="img-fluid" alt="" style="width: 400px; height: 500px">
              <div class="catalogue-links">
                <a href="#" data-gall="catalogueGallery" class="venobox" title="Web 3"><i class="icofont-plus-circle"></i></a>
                <a href="#"  title="More Details"><i class="icofont-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 catalogue-item filter-app">
            <div class="catalogue-wrap">
              <img src="~/img/books/elresplandor.jpg" class="img-fluid" alt="" style="width: 400px; height: 500px">
              <div class="catalogue-links">
                <a href="#" data-gall="catalogueGallery" class="venobox" title="App 2"><i class="icofont-plus-circle"></i></a>
                <a href="#"  title="More Details"><i class="icofont-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 catalogue-item filter-card">
            <div class="catalogue-wrap">
              <img src="~/img/books/ladronadelibros.jpg" class="img-fluid" alt="" style="width: 400px; height: 500px">
              <div class="catalogue-links">
                <a href="#" data-gall="catalogueGallery" class="venobox" title="Card 2"><i class="icofont-plus-circle"></i></a>
                <a href="#"  title="More Details"><i class="icofont-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 catalogue-item filter-web">
            <div class="catalogue-wrap">
              <img src="~/img/books/Stephenkingit.jpg" class="img-fluid" alt="" style="width: 400px; height: 500px">
              <div class="catalogue-links">
                <a href="#" data-gall="catalogueGallery" class="venobox" title="Web 2"><i class="icofont-plus-circle"></i></a>
                <a href="#"  title="More Details"><i class="icofont-link"></i></a>
              </div>
            </div>
          </div>


        </div>

      </div>
    </section>




  <footer id="footer">

    <div class="footer-top">

      <div class="container" data-aos="fade-up">

        <div class="row  justify-content-center">
          <div class="col-lg-6">
            <h3>The one</h3>
            <p>Dirección: Av La Molina, 305 Las gardenias </p>
            <p>Telefono: +51 996644587</p>
          </div>
        </div>

        

        <div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
 
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span> Copyright</span></strong>. Todos los derechos reservador
      </div>
      <div class="credits">
        Diseñado por <a href="#">The One </a>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>