@{
    ViewData["Title"] = "Hecho por Diego Sotomayor";
}

 <section id="catalogue" class="catalogue section-bg">
      <div class="container">
<div class="wrap">
		<h1>Escoge un producto</h1>
		<div class="store-wrapper">
			<div class="category_list">
				<a href="#" class="category_item" category="all">Todo</a>
				<a href="#" class="category_item" category="aventura">Aventura</a>
				<a href="#" class="category_item" category="horror">Horror</a>
				<a href="#" class="category_item" category="novela">Novela</a>
				<a href="#" class="category_item" category="ciencias">Ciencias</a>
				<a href="#" class="category_item" category="comic">Comic</a>
			</div>
			<section class="products-list">
				<div class="product-item" category="horror">
					<img src="~/img/books/elresplandor.jpg" alt="" style="width: 181px; height: 285px">
					<a href="/Home/Info">El resplandor</a>
				</div>
				<div class="product-item" category="ciencias">
					<img src="~/img/books/brevehistoria.jpg" alt="" style="width: 181px; height: 285px">
					<a href="#">Breve historia del tiempo</a>
				</div>
				<div class="product-item" category="novela">
					<img src="~/img/books/ciena침osdesoledad.jpg" alt="" style="width: 181px; height: 285px">
					<a href="#">Cien a침os de soledad</a>
				</div>
				<div class="product-item" category="horror">
					<img src="~/img/books/stephenkingit.jpg" alt="" style="width: 181px; height: 285px">
					<a href="#">It</a>
				</div>
				<div class="product-item" category="comic">
					<img src="~/img/books/ladronadelibros.jpg" alt="" style="width: 181px; height: 285px">
					<a href="#">La ladrona de libros</a>
				</div>
				<div class="product-item" category="comic">
					<img src="~/img/books/comicmarvel.png" alt="" style="width: 181px; height: 285px">
					<a href="#">Marvel Comic 1000</a>
				</div>
				<div class="product-item" category="aventura">
					<img src="~/img/books/grandesaventuras.jpeg" alt="" style="width: 181px; height: 285px">
					<a href="#">Grandes Aventuras</a>
				</div>
			</section>
		</div>
	</div>
    </section>




  <footer id="footer">

    <div class="footer-top">

      <div class="container" data-aos="fade-up">

        <div class="row  justify-content-center">
          <div class="col-lg-6">
            <h3>The one</h3>
            <p>Direcci칩n: Av La Molina, 305 Las gardenias </p>
            <p>Telefono: +51 996644587</p>
          </div>
        </div>

        

        <div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
 
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span> Copyright</span></strong>. Todos los derechos reservador
      </div>
      <div class="credits">
        Dise침ado por <a href="#">The One </a>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>