@model LibreriaProgra.Models.Carrito
@{
    ViewData["Title"] = "Hecho por Veronica Varas";
}

<div class="row">
    <div class="col-md-12">  
        <h1 class="display-12">CARRITO DE COMPRAS</h1>
            <table class="table table-bordered">
                 <thead>
                    <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Subtotal</th>
                    </tr>
                 </thead>
                <tbody>
                    <tr>
                        <th scope="row">Cazadores de sombras I</th>
                        <td>40</td>
                        <td>1</td>
                        <td>40</td>
                    </tr>
                    <tr>
                        <th scope="row">Harry Potter IV</th>
                        <td>55</td>
                        <td>2</td>
                        <td>110</td>
                    </tr>
                    <tr>
                        <th scope="row">Percy Jackson I</th>
                        <td>45</td>
                        <td>2</td>
                        <td>90</td>
                    </tr>
                    <tr>
                        <th scope="row">Los Juegos del Hambre II</th>
                        <td>45</td>
                        <td>1</td>
                        <td>45</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <th scope="row">TOTAL</th>
                        <td>285</td>
                    </tr>
                   
                </tbody>
            </table>
            <div class="form-group">
                 <li><a asp-area="" asp-controller="Carrito" asp-action="Proceso"><button class="btn btn-primary">Confirmar</button></a></li>
            </div>
            
        <td>@Html.DisplayTextFor(model => model.Response)</td>    
    
    </div>
</div>