@model LibreriaProgra.Models.Producto

@{
    ViewData["Title"] = "Usuario";
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<div class="container">
<div class="row justify-content-center">
    <div class="col-md-4">
        <h1 class="display-4">Editar Libro</h1>
        

        <form asp-controller="Producto" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>                  
                   
            <div class="form-group">
                <label asp-for="autor" class="control-label"></label>
                <input asp-for="autor" class="form-control" />
            </div>               
              <div class="form-group">
                <label asp-for="idioma" class="control-label"></label>
                <input asp-for="idioma" class="form-control" />
            </div>      
              <div class="form-group">
                <label asp-for="isbn" class="control-label"></label>
                <input asp-for="isbn" class="form-control" />
            </div>      
              <div class="form-group">
                <label asp-for="editorial" class="control-label"></label>
                <input asp-for="editorial" class="form-control" />
            </div>      
              <div class="form-group">
                <label asp-for="precio" class="control-label"></label>
                <input asp-for="precio" class="form-control" />
            </div>      
              <div class="form-group">
                <label asp-for="pagina" class="control-label"></label>
                <input asp-for="pagina" class="form-control" />
            </div>      
              <div class="form-group">
                <label asp-for="descripcion" class="control-label"></label>
                <input asp-for="descripcion" class="form-control" />
            </div> 
            <div class="form-group">
                <label asp-for="imagen" class="control-label"></label>
                <input asp-for="imagen" class="form-control" />
            </div> 
             
            <div class="form-group">
                 <button type="submit" class="btn btn-primary">Actualizar</button> 
                <button  class="btn btn-danger"  onclick="window.location='@Url.Action("Listar", "Producto")'" >Cancelar</button> 
            </div>                

        </form>
            
        <td>@Html.DisplayTextFor(model => model.Respuesta)</td>    
    
    </div>
</div>
</div>

<script>
    document.querySelector('#Editar').addEventListener('submit', function(e) {
      var form = this;
      
      e.preventDefault();
      
      swal({
          title: "¿Está seguro de la acción?",
          text: "Esto cambiará los datos del producto",
          icon: "warning",
          buttons: [
            'Cancelar',
            'Continuar'
          ],
          dangerMode: true,
        }).then(function(isConfirm) {
          if (isConfirm) {
           
              form.submit();
          
          } else {
            swal("Acción cancelada", "El producto no se ha modificado", "error");
          }
        });
    });

    
  </script>
  
  <style>
    .swal-button--confirm {
      background-color: #DD6B55;
    }
  </style>